@import "./variables.scss";

//RESET

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
      2. Remove default margin
    */
* {
	margin: 0;
}
/*
      Typographic tweaks!
      3. Add accessible line-height
      4. Improve text rendering
    */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
      5. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
      6. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
	font: inherit;
}
/*
      7. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
      8. Create a root stacking context
    */
#root,
#__next {
	isolation: isolate;
}

//STYLING OF SECTION STRUCTURES AND MAIN TITLE

* {
	font-weight: 400;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		display: flex;
		font-family: $font2;
		font-size: 36px;
		padding: 1em;
            margin-top: 1%;
		color: $pretty-blue;
		border: 2px solid $pretty-blue;
		border-radius: 2px;
	}
	.sections-structure {
		margin: 2% auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		//border: $border;

		.exercice {
			margin: 2% auto;
			display: flex;
			justify-content: center;
			align-items: baseline;
			border: 2px solid #187498;
			border-radius: 2px;
			width: 30%;
			height: 400px;
			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.exercice-title {
					margin: 5% auto;
					font-family: $font1;
					font-size: 16px;
					color: $pretty-blue;
					width: 85%;
					text-align: center;
				}
				form {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 30%;
					padding: 1%;
					//border: $border2;
					width: 80%;
					font-family: $font1;

					.label {
						display: flex;
						justify-content: center;
						font-family: $font1;
						font-size: 12px;
						color: $pretty-blue;
						margin-top: 4%;
						width: 90%;
					}
					input {
						padding: 5px;
						margin: 2%;
						color: $pretty-blue;
						border: 2px solid $pretty-blue;
						border-radius: 2px;
					}

					.result-span {
						margin: 4%;
						padding: 5%;
						border: $border3;
						font-family: $font1;
						color: $pretty-blue;
						border: 2px solid $pretty-blue;
						border-radius: 2px;
						//width: 100px;
						text-align: center;
					}
                             
				}
			}
		}
	}
}
