@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
@import "./variables.scss";

* {
	font-weight: 400;
}
body {
	display: flex;
	flex-direction: column;
	h1 {
		margin: auto;
		font-family: $font2;
		font-size: 36px;
		padding: 1em;
            color: rgb(83, 83, 210);
	}
	section {
		padding: 1em;
		.ex1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			h3 {
				font-family: $font1;
                        color: $pale-blue;
				.ex-title {
					text-decoration: underline;
				}
			}
			.birth-year-form {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 60%;
				margin: 1%;
				.birth-year-label {
					display: flex;
					justify-content: center;
					font-family: $font1;
                              color: $pale-blue;
					margin-bottom: 1%;

				}
				.birth-year-input {
					padding: 5px;
					margin: 1%;
                              color: $pale-blue;
                              border-color: $pale-blue;
				}
			}
                  .movie-returned{
                        margin: 1%;
                        font-family: $font1;
                        color: $pale-blue;



                  }
		}
	}
}
