@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

//couleurs
$pale-blue: rgb(102, 102, 189);
$pretty-blue: #187498;

//debugage
$border: 1px solid red;
$border1: 1px solid blue;
$border2: 1px solid green;
$border3: 1px solid yellow;

//fonts
$font1: 'Open Sans', sans-serif;
$font2: 'Raleway', sans-serif;

