//couleurs
$pale-blue: rgb(102, 102, 189);

//debugage
$border: 1px solid red;
$border1: 1px solid blue;
$border2: 1px solid green;
$border3: 1px solid yellow;

//fonts
$font1: 'Open Sans', sans-serif;
$font2: 'Raleway', sans-serif;

