//couleurs
$pale-pink: #e6cebc;
$beige: #f4ece2;
$dark-green: #687259;
$light-green: #a2a182;
$light-brown: #ba6f4d;
$dark-brown: #8e412e;

//debugage
$border: 1px solid red;
$border1: 1px solid blue;
$border2: 1px solid green;
$border3: 1px solid yellow;
